@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=Teko:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  width: 100%;
  height: 100vh;
  background: #111;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
main p {
  font-size: 5vw;
  color: #222;
}
main header {
  width: 90vw;
  top: 5vh;
  left: 5vw;
  position: absolute;
  z-index: 3;
  display: flex;
  justify-content: space-between;
}
main header h1 {
  font: bold 20px/1 "orbitron";
  color: #fff;
  letter-spacing: 2px;
}
main header nav {
  display: flex;
  gap: 100px;
}
main header nav ul {
  display: flex;
  gap: 30px;
  font: 12px/1 "orbitron";
  color: #fff;
  letter-spacing: 2px;
  opacity: 1;
}
main header nav ul.sns {
  font-size: 18px;
  opacity: 0.8;
}
main .list li {
  width: 15vw;
  height: 40vh;
  position: fixed;
  top: 40%;
  transition: 1s;
  transition-timing-function: cubic-bezier(0.89, -0.01, 0.28, 1.02);
  z-index: 2;
  padding: 20px;
  opacity: 1;
  transform: scale(1);
}
main .list li .inner {
  width: 100%;
  height: 100%;
  background: #333;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: 1s;
  position: relative;
  display: flex;
  align-items: center;
}
main .list li .inner h2 {
  font: normal 20px/1 "teko";
  color: #888;
  position: relative;
  top: 10%;
  transition: 0.5s 0.5s;
}
main .list li .inner h2::before {
  content: "";
  display: block;
  width: 20px;
  height: 3px;
  background: #888;
  margin-bottom: 10px;
  transition: 0.5s;
}
main .list li:nth-of-type(1) {
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0px;
  top: 0;
  opacity: 0;
  z-index: 1;
  transform: scale(2);
  transition: all 1s 1s, transform 2.5s 0s;
}
main .list li:nth-of-type(1) .inner {
  box-shadow: none;
  border-radius: 0px;
}
main .list li:nth-of-type(2) {
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0px;
  opacity: 1;
  top: 0;
  z-index: 2;
}
main .list li:nth-of-type(2) .inner {
  background: #222;
  box-shadow: none;
  border-radius: 0px;
  padding: 5vw;
}
main .list li:nth-of-type(2) .inner h2 {
  color: #fff;
  font-size: 8vw;
}
main .list li:nth-of-type(2) .inner h2::before {
  background: #fff;
  height: 6px;
  width: 6vw;
  margin-bottom: 20px;
}
main .list li:nth-of-type(3) {
  left: calc(40% + 0vw);
  transition-delay: 0s;
}
main .list li:nth-of-type(4) {
  left: calc(40% + 15vw);
  transition-delay: 0.1s;
}
main .list li:nth-of-type(5) {
  left: calc(40% + 30vw);
  transition-delay: 0.2s;
}
main .list li:nth-of-type(6) {
  left: calc(40% + 45vw);
  transition-delay: 0.3s;
}
main .list li:nth-of-type(7) {
  left: calc(40% + 60vw);
  transition-delay: 0.4s;
}
main .list li:nth-of-type(8) {
  left: calc(40% + 75vw);
  transition-delay: 0.5s;
}
main .navi {
  width: calc(60% - 60px);
  position: absolute;
  left: 40%;
  top: calc(40% + 40vh + 20px);
  z-index: 3;
  padding-left: 20px;
}
main .navi .prev,
main .navi .next {
  display: inline-block;
  width: 70px;
  height: 70px;
  border: 1px solid #bbb;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  margin-right: 20px;
}
main .navi .prev::before, main .navi .prev::after,
main .navi .next::before,
main .navi .next::after {
  content: "";
  display: block;
  width: 17px;
  height: 2px;
  background: #fff;
  position: absolute;
}
main .navi .prev::before,
main .navi .next::before {
  top: 49%;
  transform: rotate(45deg) translateX(0px);
}
main .navi .prev::after,
main .navi .next::after {
  bottom: 49%;
  transform: rotate(-45deg) translateX(0px);
}
main .navi .prev span,
main .navi .next span {
  width: 20px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 49%;
  opacity: 1;
}
main .navi .prev.on,
main .navi .next.on {
  animation: wrap 0.3s 1;
}
main .navi .prev::before, main .navi .prev::after {
  left: 25px;
  transform-origin: left center;
}
main .navi .prev span {
  left: 25px;
}
main .navi .prev.on span {
  animation: middlePrev 0.5s 1;
}
main .navi .next::before, main .navi .next::after {
  right: 25px;
  transform-origin: right center;
}
main .navi .next span {
  right: 25px;
}
main .navi .next.on span {
  animation: middleNext 0.5s 1;
}

@keyframes wrap {
  0% {
    transform: scale(1);
    border: 1px solid white;
  }
  70% {
    transform: scale(2);
    border: 1px solid rgba(255, 255, 255, 0);
  }
  100% {
    transform: scale(1);
    border: 1px solid white;
  }
}
@keyframes middleNext {
  0% {
    right: 25px;
    witth: 20px;
    opacity: 1;
  }
  70% {
    right: -30px;
    width: 50px;
    opacity: 0;
  }
  71% {
    right: 100px;
    width: 120px;
    opacity: 0;
  }
  100% {
    right: 25px;
    width: 20px;
    opacity: 1;
  }
}
@keyframes middlePrev {
  0% {
    left: 25px;
    witth: 20px;
    opacity: 1;
  }
  70% {
    left: -30px;
    width: 50px;
    opacity: 0;
  }
  71% {
    left: 100px;
    width: 120px;
    opacity: 0;
  }
  100% {
    left: 25px;
    width: 20px;
    opacity: 1;
  }
}
@media screen and (max-width: 1279px) {
  main .list li .inner {
    border-radius: 10px;
  }
  main .navi {
    transform-origin: right top;
    transform: scale(0.8);
  }
}
@media screen and (max-width: 979px) {
  main header .gnb {
    display: none;
  }
  main .list li {
    width: 20vw;
  }
  main .list li:nth-of-type(3) {
    left: calc(45% + 0vw);
    transition-delay: 0s;
  }
  main .list li:nth-of-type(4) {
    left: calc(45% + 20vw);
    transition-delay: 0.1s;
  }
  main .list li:nth-of-type(5) {
    left: calc(45% + 40vw);
    transition-delay: 0.2s;
  }
  main .list li:nth-of-type(6) {
    left: calc(45% + 60vw);
    transition-delay: 0.3s;
  }
  main .list li:nth-of-type(7) {
    left: calc(45% + 80vw);
    transition-delay: 0.4s;
  }
  main .list li:nth-of-type(8) {
    left: calc(45% + 100vw);
    transition-delay: 0.5s;
  }
  main .navi {
    transform-origin: right top;
    transform: scale(0.5);
  }
}
@media screen and (max-width: 739px) {
  main .list li {
    width: 30vw;
  }
  main .list li:nth-of-type(3) {
    left: calc(45% + 0vw);
    transition-delay: 0s;
  }
  main .list li:nth-of-type(4) {
    left: calc(45% + 30vw);
    transition-delay: 0.1s;
  }
  main .list li:nth-of-type(5) {
    left: calc(45% + 60vw);
    transition-delay: 0.2s;
  }
  main .list li:nth-of-type(6) {
    left: calc(45% + 90vw);
    transition-delay: 0.3s;
  }
  main .list li:nth-of-type(7) {
    left: calc(45% + 120vw);
    transition-delay: 0.4s;
  }
  main .list li:nth-of-type(8) {
    left: calc(45% + 150vw);
    transition-delay: 0.5s;
  }
  main .navi {
    transform-origin: right top;
    transform: scale(0.8);
  }
}
@media screen and (max-width: 539px) {
  main header h1 {
    padding-left: 20px;
  }
  main .list li {
    width: 50vw;
    height: 160px;
    top: 60%;
  }
  main .list li:nth-of-type(2) .inner h2 {
    top: 0%;
    padding-left: 5vw;
    font-size: 15vw;
  }
  main .list li:nth-of-type(2) .inner h2::before {
    width: 20vw;
  }
  main .list li:nth-of-type(3) {
    left: calc(20px + 0vw);
    transition-delay: 0s;
  }
  main .list li:nth-of-type(4) {
    left: calc(20px + 50vw);
    transition-delay: 0.1s;
  }
  main .list li:nth-of-type(5) {
    left: calc(20px + 100vw);
    transition-delay: 0.2s;
  }
  main .list li:nth-of-type(6) {
    left: calc(20px + 150vw);
    transition-delay: 0.3s;
  }
  main .list li:nth-of-type(7) {
    left: calc(20px + 200vw);
    transition-delay: 0.4s;
  }
  main .list li:nth-of-type(8) {
    left: calc(20px + 250vw);
    transition-delay: 0.5s;
  }
  main .navi {
    width: 80%;
    left: 10%;
    top: auto;
    bottom: 10px;
    transform-origin: right top;
    transform: scale(0.6);
  }
}

/*# sourceMappingURL=style.css.map */
